<%= form_for(@product) do |f| %>
<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :price %><br />
  <%= f.text_field :price %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>

<% if @product.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@product.errors.count, "error") %> prohibited this use from being saved</h2>

  <ul>
    <% @product.errors.full_messages.each do |msg| %>
    <li> <%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
