<!DOCTYPE html>
<html>
<head>
  <title>ControllerExercise</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:notice].present? %>
  <p class="flash-notice"><%= flash[:notice] %></p>
  <% end %>

<%= link_to "a list of users", users_path %>  |
<%= link_to "a list of products", products_path %>

<%= yield %>

</body>
</html>
